@model Pollutant
@{
    ViewData["Title"] = "CreateOrEditPollutant";
    var isCreate = Model.Id == 0;
}

<div class="modal fade" role="dialog" tabindex="-1" id="addPollutant" aria-labelledby="addPollutantLable" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content" style="background-color:#BFD7FF !important;">
            <div class="modal-header"><h3>Pollutant</h3></div>
            <div class="modal-body">
                <form asp-action="CreateOrEdit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Measure" class="control-label"></label>
                        <input asp-for="Measure" class="form-control" />
                        <span asp-validation-for="Measure" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-secondary" value="Cancel" data-dismiss="modal" />
                        <input type="submit" value="@(isCreate?"Create":"Edit")" class="btn btn-primary" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}